
h1{
    color:blue;
   
}
#bgrtwo{
    background-color: rgba(250, 255, 255, 0.918); 
    text-align: center; 
    height: 400px;   
}

header{
    text-align: center;
    color:rgb(27, 26, 25);
}
footer{
    background-color: white;
    color:blue;
    height: 85px;
    text-align:center 
}

#c1{
    width: 26%;
    height: 250px;
    background: lightgray;
    box-align:center;
    margin-left:auto;
    margin-right: auto;

    
}

#c2{
    width: 26%;
    height: 250px;
    background:blue;
    box-align:center;
    margin-left:auto;
    margin-right: auto;
  
}

#color1{
    margin-top: 180px;
    margin-bottom: 150px;
    margin-left: 155px;
    margin-right: 300px;
}
#color2{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 155px;
    margin-right: 300px;
}